doctype html
html
	head
		title Car model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 New entry for Car
		p <b>Path:</b> /
			a(href='/car') car
			| /new
		form(action='/car', method='POST')
			fieldset
				label name
				input(name='name', type='text')
			fieldset
				label model
				input(name='model', type='text')
			fieldset
				label owner
				input(name='owner', type='text')
			fieldset
				button(action='submit') Create

				a(href='/car')
					button(type='button') Cancel
			-if(error !== undefined)
				p Please fill all fields! Remember to validate the type of the fields!
		p
			a(href='/car') Car home
