doctype html
html
	head
		title Person model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 New entry for Person - Octopi
		p <b>Path:</b> /
			a(href='/person') person
			='/'
			a(href='/person/'+person._id)=person._id
			='/octopus/new'
		form(action='/person/'+person._id+'/octopus', method='POST')
			fieldset
				label model
				input(name='model', type='text')
			fieldset
				label color
				input(name='color', type='number')
			fieldset
				button(action='submit') Create

				a(href='/person')
					button(type='button') Cancel
			-if(error !== undefined)
				p Please fill all fields! Remember to validate the type of the fields!
		p
			a(href='/person') Person home
