doctype html
html
	head
		title Person model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 Deleted entry for Person!
		p
			a(href='/person') Person home
