!!!
html
	head
		title User model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		h1 New entry for User
		form(action='/user', method='POST')
			fieldset
				label name
				input(name='name')
			fieldset
				label username
				input(name='username')
			fieldset
				label email
				input(name='email')
			fieldset
				label password
				input(name='password')
			fieldset
				label age
				input(name='age')
			fieldset
				button(action='submit') Create
