doctype html
html
	head
		title User model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 Single entry for User
		p <b>Path:</b> /
			a(href='/user') user
			='/'+user._id
		ul
			li
				b name: 
				= user.name 
			li
				b username: 
				= user.username 
			li
				b password: 
				= user.password 
			li
				b age: 
				= user.age 
			li
				b device: 
				a(href='/user/'+user._id+'/device/new') Add new device
				table(border='1', cellspacing='0')
					thead
						td model
						td color
						td
					tbody
						-for(i=0; i<user.device.length; i++)
							tr
								td=user.device[i].model
								td=user.device[i].color
								td
									form(action='/user/'+user._id +'/device/'+i, method='POST')
										input(type='hidden', name='_method', value='DELETE')
										button Delete
			li
				b car: 
				= user.car 

		form(action='/user/'+user._id, method='POST')
			input(type='hidden', name='_method', value='DELETE')
			a(href='/user/'+user._id +'/edit')
				button(type='button') Edit
			button Delete
		p
			a(href='/user') User home
